body {
    background-image: url("/Assets/images/folk-pattern-black.png")
}

.centerbody {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-top: 30px;
    margin-bottom: 90px;
    padding: 10px 10px 10px 10px;
}

.styleBTN {
    color: #ffffff;
    background-color: #4aaaa5;
    border-radius: 0px;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin: 10px;
}

.portIMG {
    height: 200px;
    width: 200px;
    object-fit: cover;
    position: relative;
}

.imgTXT {
    position: absolute;
    bottom: 35px;
    left: 30px;
    width: 190px;
    background-color: #4aaaa5;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 80%;
    background: #4aaaa5;

}